.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 24px;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}